@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);

body {
  font-family: 'Raleway', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  line-height: 1.6;
}

header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

header h1 {
  margin: 0;
  animation: text-shadow 1.5s ease-in-out 1 forwards;
  font-size: 2em;
  font-weight: 900;
  line-height: 1;
}

header h1:hover {
  animation-play-state: paused;
}

header h1 a {
  text-decoration: none;
  color: #000;
}

header p {
  margin: 0;
  color: #777;
}

.header-container {
  /* display: flex; */
  align-items: flex-start;
  gap: 20px;
  color: #777;
}

.description {
  flex: 1;
  color: #777;
}

.header-image {
  height: auto;
  border-radius: 5px;
  max-width: 800px; 
}

main {
  margin-top: 2rem;
}

.post-meta {
  color: #777;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

footer {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 0.9em;
  color: #777;
}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-1em);
        text-shadow: 
            0 0.125em 0 #0c2ffb, 
            0 0.25em 0 #2cfcfd, 
            0 -0.125em 0 #fb203b, 
            0 -0.25em 0 #fefc4b;
    }

    40% {  
        transform: translateY(0.5em);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
} 